html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: clamp(14px, 2vw, 16px);
  letter-spacing: 0.05em;
  line-height: 1.5em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

::selection {
  background: #333;
  color: #fff;
}

h1 {
  font-weight: 100;
  line-height: 1em;
  font-size: clamp(2rem, 2vw + 1.5rem, 4rem);
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 500;
  line-height: 1em;
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 0.05em;
}

p {
  margin-bottom:1.5em;
}

* {
  padding: 0;
  margin: 0;
}

.parent {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  position: absolute;
  z-index: 9999;
}

nav {
  padding: 20px 3%;
  background:#000;
  color: #fff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  display: block;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

section.welcome {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100%;
  background-color: #000;
  background-image: url("Assets/ADoveDesign_Header_2000x2000px.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section.about {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
}

section.work {
  padding-top: 50px;
}

section.contact {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #000;
  color: #fff;
}

section.blurb {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 70%;
  background-color: #000;
  color: #fff;
}

section.project {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  padding-top:50px;
  padding-bottom:50px;
  text-align: center;
}

#arrow {
  width: 25px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-55%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 25%;
  max-width: 25%;
  background-color:#000;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.content {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  transition: .5s ease;
  background-color:rgba(0,0,0,0.8);
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.content:hover .overlay {
  opacity: 1;
}

.caption {
  position: absolute;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height:1.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(16px, 2vw, 24px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered {
  position: relative;
  width: 80%;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.process {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.process > div {
  width: 33%;
  margin: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills > div {
  width: 25%;
  margin-bottom:20px;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  background: #333;
  width: 60%;
  max-height:80%;
  overflow:auto;
}

form {
  padding: 40px;
  margin: auto;
  color: #fff;
  text-align:left;
}

input, textarea {
  border: 0px white solid;
  padding: 1em;
  width: 100%;
  resize: none;
  background-color: #fff;
  color: #000;
  font-size: clamp(14px, 2vw, 16px);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  border-radius: 0;
}

textarea {
  height: 80px;
}

button {
  color: #fff;
  background: #555;
  border: none;
  padding: 0px 40px;
  height: 40px;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 16px);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
  transition: .5s ease;
}

button:hover {
  color: #000;
  background-color: #eee;
}

@media (max-width: 920px) {
  
  nav {
    padding: 20px 5%;
  }
  
  .column {
    flex: 50%;
    max-width: 50%;
  }

  section.about {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 7%;
  }

  section.blurb {
    height: 80%;
  }

  section.project {
    padding-top:10%;
    padding-bottom: 10%;
  }

  .process {
    width: 100%;
  }

  .form-popup {
    width:80%;
  }

}

@media (max-width: 390px) {

  body, form, button, input, textarea {
    font-size: clamp(12px, 2vw, 14px);
    line-height: 1.25em;
  }

}

@media (max-width: 280px) {

  body, form, button, input, textarea {
    font-size: clamp(10px, 2vw, 12px);
    line-height: 1.25em;
  }

  .centered {
    width:90%;
  }

}
