html {
  scroll-behavior: smooth;
}

body {
  font-family: "new hero", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  --minFontSize: 14px;
  --maxFontSize: 17px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

::selection {
  background: #000;
  color: #fff;
}

h1 {
  font-weight: 500;
  --minFontSize: 40px;
  --maxFontSize: 70px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  letter-spacing: 0.5em;
  line-height: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  line-height: 1em;
  --minFontSize: 40px;
  --maxFontSize: 70px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  letter-spacing: 0.05em;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background:rgba(0,0,0,0.3);
  padding:10px;
}

.underline a {
  padding: 10px 0;
  margin: 0 20px;
  color: #fff;
  position: relative;
  text-decoration:none;
}

.underline a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #000;
  color: #000;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.underline a:hover::before {
  max-width: 100%;
}

.centered {
  position: relative;
  width: 80%;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.welcome {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100%;
  color: #fff;
  background-image: url("Assets/Header_Filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.about {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #fff;
}

section.work {
  padding-top: 50px;
}

section.contact {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #000;
  color: #fff;
}

section.project {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  padding-top:10%;
  padding-bottom:6%;
}

#arrow {
  width: 25px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-55%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  margin: 1%;
  padding: 1%;
  text-align: center;
  flex: 40%;
}

.column {
  flex: 25%;
  max-width: 25%;
  background-color:#000;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.content {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  transition: .5s ease;
  background-color:rgba(0,0,0,0.7);
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.content:hover .overlay {
  opacity: 1;
}

.caption {
  position: absolute;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height:1.5em;
  text-transform: uppercase;
  --minFontSize: 20px;
  --maxFontSize: 32px;
  --scaler: 1vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

form {
  width: 40%;
  text-align: center;
  margin: auto;
}

input, textarea {
  border: 1px white solid;
  padding: 1em;
  width: 100%;
  resize: none;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

textarea {
  height: 80px;
}

button {
  color: #000;
  background: #fff;
  border: none;
  width: 50%;
  padding: 1em;
  cursor: pointer;
  font-family: "new hero", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
}

@media (max-width: 800px) {

  .column {
    flex: 50%;
    max-width: 50%;
  }

  section.about {
    width: 80%;
    padding-top: 20%;
    padding-bottom: 16%;
  }

  section.project {
    padding-top:20%;
  }

  form {
    width: 60%;
  }

}